// GoBack
.go-back-top {
    background-size: 100%;
    background-image: url(../img/go-back-top.png);
    position: fixed;
    z-index: 100;
    right: 8px;
    bottom: 68px;
    width: 35px;
    height: 35px;
}

.prj-interval-row {
    margin-bottom: .2rem;
}

.GPS-icon {
    display: inline-block;
    width: .16rem;
    height: .22rem;
    vertical-align: middle;
    margin: 0 .05rem;
    background-image: url(../img/common/GPS-icon.png);
    background-size: 100%;
}

.phone-icon {
    display: inline-block;
    width: .2rem;
    height: .32rem;
    vertical-align: text-bottom;
    margin: 0 .05rem;
    background-image: url(../img/common/phone-icon.png);
    background-size: 100%;
}
