// color
$black: 			#000000;
$black-light: 		#222222;

$white:				#ffffff;

$grey-drak: 		#666666;
$grey:				#8e8e93;
$grey-light: 		#c5c5c5;

$red: 				#ff0000;
$red-drak:  		#dc3b4b;
$red-light: 		#eb4f5d;
$pink: 				#fe6c79;

$yellow:			#fff000;

$blue:				#43b1ff;

$green:				#4ab300;

$background: 		#f0eef5;
$background-grey:	#c5c5c5;

$border:			#c8c7cc;
$border-blue:		#43b1ff;
$border-green:		#4ab300;

$text-base: 		#222222;
$text-black:		#222222;
$text-white:		#ffffff;
$text-grey: 		#666666;
$text-grey-hint: 	#8e8e93;
$text-red: 			#fe6c79;
$text-yellow:		#fff000;
$text-blue:			#43b1ff;
$text-green:		#4ab300;

$link-base:			#222222;
$link-hover-base:	#222222;

$btn-red:			#fe6c79;
$btn-grey:			#c5c5c5;
