<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <!-- 网易-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- 设置苹果工具栏颜色 -->
    <meta name="format-detection" content="telphone=no, email=no">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/js/lib/JQWeui/weui.css">
    <link rel="stylesheet" href="/js/lib/JQWeui/jquery-weui.css">
    <link rel="stylesheet" href="/css/main_weui.css">
    <title>任务详情</title>
</head>

<body class="task-detail" ontouchstart>
    <div class="task-info border-bottom">
        <p class="font-size-30 prj-interval-row">
            秋装新款薄针织衫需要买家秀奖励丰厚！人气高网红可以 长期三十字
        </p>
        <p class="font-size-28 text-red">
            <small>￥</small>2000/人
        </p>
        <p class="font-size-24 text-grey">
            招募：5人（剩余0人）
        </p>
    </div>
    <div class="prj-flow border-bottom">
        <div class="item">
            <div class="icon">
                <!-- <div class="mark">99</div> -->
            </div>
            <div class="text">主播报名</div>
        </div>
        <div class="item">
            <div class="icon">
                <!-- <div class="mark">99</div> -->
            </div>
            <div class="text">商家筛选</div>
        </div>
        <div class="item">
            <div class="icon">
                <!-- <div class="mark">99</div> -->
            </div>
            <div class="text">线下沟通</div>
        </div>
        <div class="item">
            <div class="icon">
                <!-- <div class="mark">99</div> -->
            </div>
            <div class="text">直播推广</div>
        </div>
        <div class="item">
            <div class="icon">
                <!-- <div class="mark">99</div> -->
            </div>
            <div class="text">商家确认</div>
        </div>
    </div>
    <div class="task-info-detail prj-interval-row">
        <div class="task-detail font-size-24">
            <div class="task-detail-item">
                <div class="detail-item-title">推广类型：</div>
                <div class="detail-item-content">直播推广</div>
            </div>
            <div class="task-detail-item">
                <div class="detail-item-title">推广品牌：</div>
                <div class="detail-item-content">百草味</div>
            </div>
            <div class="task-detail-item">
                <div class="detail-item-title">推广时间：</div>
                <div class="detail-item-content">2017-12-12</div>
            </div>
            <div class="task-detail-item">
                <div class="detail-item-title">招募人数：</div>
                <div class="detail-item-content">23人</div>
            </div>
            <div class="task-detail-item">
                <div class="detail-item-title">奖励佣金：</div>
                <div class="detail-item-content">￥2000.00元/人</div>
            </div>
            <div class="task-detail-item">
                <div class="detail-item-title">直播时间：</div>
                <div class="detail-item-content">5小时</div>
            </div>
            <div class="task-detail-item">
                <div class="detail-item-title">淘客返利：</div>
                <div class="detail-item-content">10% ~ 30%</div>
            </div>
            <div class="task-detail-item">
                <div class="detail-item-title">任务说明：</div>
                <div class="detail-item-content">在这又冷又黑的晚上，一个乖巧的小女孩，赤着脚在街上走着。她从家里出来的时候还穿着一双拖鞋但是有什么用呢？</div>
            </div>
            <div class="task-detail-item">
                <div class="detail-item-title">推广方式：</div>
                <div class="detail-item-content">淘宝直播</div>
            </div>
            <div class="task-detail-item">
                <div class="detail-item-title">推广要求：</div>
                <div class="detail-item-content">现有粉丝不低于10000人，本场直播观看粉丝不低于10000人</div>
            </div>
            <div class="task-detail-item">
                <div class="detail-item-content center">
                    <p>提示：低于要求的人数时主播可获得的</p>
                    <p>实际佣金=实际观看粉丝数/目标观看粉丝数×奖励佣金</p>
                </div>
            </div>
        </div>
    </div>
    <div class="initiator-info prj-interval-row">
        <div class="prj-title row-2 prj-title-active">
            <div class="inner">
                <div class="img">
                    <img class="border-radius" src="https://gd3.alicdn.com/imgextra/i3/751367517/TB2p7slXZ2DjeFjSspnXXb20XXa_!!751367517.jpg_400x400.jpg" alt="">
                </div>
                <div class="content">
                    <p>昵称</p>
                    <p class="ft">发布于2016-12-12 14:22</p>
                </div>
                <div class="footer"></div>
            </div>
        </div>
        <div class="weui-cells prj-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>联系方式</p>
                </div>
                <div class="weui-cell__ft">招募后可见</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>姓名：***</p>
                </div>
            </div>
            <div class="weui-cell border-0">
                <div class="weui-cell__bd">
                    <p>手机号：************</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item-list">
        <div class="prj-title">
            <div class="inner">
                <div class="content">
                    计划推广宝贝
                </div>
            </div>
        </div>
        <!-- 列表 块状 -->
        <div class="prj-list">
            <ul class="prj-list-square">
                <li class="list-square-item">
                    <div class="item-content">
                        <div class="p">
                            <div class="p-inner">
                                <img src="http://gw3.alicdn.com/bao/uploaded/i3/2018429023/TB2gOI7gbplpuFjSspiXXcdfFXa_!!2018429023.jpg_250x250.jpg" alt="" class="p-pic">
                            </div>
                        </div>
                        <div class="d">
                            <div class="d-title">
                                的时间发链接阿里的是的撒放假啦涉及到法律
                            </div>
                            <div class="d-bd text-decoration">原价123</div>
                            <div class="d-ft text-red">
                                <div>
                                    ￥<span class="font-size-30">99</span>
                                    <span class="list-vip-tag">专享</span>
                                </div>
                                <div>返利13%</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-square-item">
                    <div class="item-content">
                        <div class="p">
                            <div class="p-inner">
                                <img src="http://gw3.alicdn.com/bao/uploaded/i3/2018429023/TB2gOI7gbplpuFjSspiXXcdfFXa_!!2018429023.jpg_250x250.jpg" alt="" class="p-pic">
                            </div>
                        </div>
                        <div class="d">
                            <div class="d-title">
                                的时间发链接阿里的是的撒放假啦涉及到法律
                            </div>
                            <div class="d-bd text-decoration">原价123</div>
                            <div class="d-ft text-red">
                                <div>
                                    ￥<span class="font-size-30">99</span>
                                    <span class="list-vip-tag">专享</span>
                                </div>
                                <div>返利13%</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-square-item">
                    <div class="item-content">
                        <div class="p">
                            <div class="p-inner">
                                <img src="http://gw3.alicdn.com/bao/uploaded/i3/2018429023/TB2gOI7gbplpuFjSspiXXcdfFXa_!!2018429023.jpg_250x250.jpg" alt="" class="p-pic">
                            </div>
                        </div>
                        <div class="d">
                            <div class="d-title">
                                的时间发链接阿里的是的撒放假啦涉及到法律
                            </div>
                            <div class="d-bd text-decoration">原价123</div>
                            <div class="d-ft text-red">
                                <div>
                                    ￥<span class="font-size-30">99</span>
                                    <span class="list-vip-tag">专享</span>
                                </div>
                                <div>返利13%</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-square-item">
                    <div class="item-content">
                        <div class="p">
                            <div class="p-inner">
                                <img src="http://gw3.alicdn.com/bao/uploaded/i3/2018429023/TB2gOI7gbplpuFjSspiXXcdfFXa_!!2018429023.jpg_250x250.jpg" alt="" class="p-pic">
                            </div>
                        </div>
                        <div class="d">
                            <div class="d-title">
                                的时间发链接阿里的是的撒放假啦涉及到法律
                            </div>
                            <div class="d-bd text-decoration">原价123</div>
                            <div class="d-ft text-red">
                                <div>
                                    ￥<span class="font-size-30">99</span>
                                    <span class="list-vip-tag">专享</span>
                                </div>
                                <div>返利13%</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-square-item">
                    <div class="item-content">
                        <div class="p">
                            <div class="p-inner">
                                <img src="http://gw3.alicdn.com/bao/uploaded/i3/2018429023/TB2gOI7gbplpuFjSspiXXcdfFXa_!!2018429023.jpg_250x250.jpg" alt="" class="p-pic">
                            </div>
                        </div>
                        <div class="d">
                            <div class="d-title">
                                的时间发链接阿里的是的撒放假啦涉及到法律
                            </div>
                            <div class="d-bd text-decoration">原价123</div>
                            <div class="d-ft text-red">
                                <div>
                                    ￥<span class="font-size-30">99</span>
                                    <span class="list-vip-tag">专享</span>
                                </div>
                                <div>返利13%</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="task-text">
        <p>1. 专享价即为本次推广设置了专享的优惠价格;</p>
        <p>2. 返利即淘宝客返利，指成交后在专享价基础上推广人可获得指定批例的返利佣金；</p>
    </div>
    <div class="sign-up-info">
        <div class="prj-title">
            <div class="inner">
                <div class="content">
                    已报名10人
                </div>
            </div>
        </div>
        <div class="prj-list">
            <div class="prj-list-normal">
                <div class="list-normal-item">
                    <div class="pic border-radius">
                        <img class="border-radius" src="https://gd3.alicdn.com/imgextra/i3/751367517/TB2p7slXZ2DjeFjSspnXXb20XXa_!!751367517.jpg_400x400.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="content-hd">大傻</div>
                        <div class="content-bd">
                            <div class="text-grey">平面模特</div>
                            <div class="ft"></div>
                        </div>
                        <div class="content-ft">
                            <div class="hd">
                                <div class="GPS-icon"></div>杭州</div>
                            <div class="bd"></div>
                            <div class="ft">粉丝600W</div>
                        </div>
                    </div>
                </div>
                <div class="list-normal-item">
                    <div class="pic border-radius">
                        <img class="border-radius" src="https://gd3.alicdn.com/imgextra/i3/751367517/TB2p7slXZ2DjeFjSspnXXb20XXa_!!751367517.jpg_400x400.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="content-hd">大傻</div>
                        <div class="content-bd">
                            <div class="text-grey">平面模特</div>
                            <div class="ft"></div>
                        </div>
                        <div class="content-ft">
                            <div class="hd">
                                <div class="GPS-icon"></div>杭州</div>
                            <div class="bd"></div>
                            <div class="ft">粉丝600W</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="prj-footer-operation">
        <div class="footer-operation-item footer-operation-red">我要报名</div>
    </div>
    <script>
    (function() {
        //计算html的font-size 写在html里面 如果加载js会出现闪的情况
        var deviceWidth = document.documentElement.clientWidth;
        console.log(deviceWidth);
        if (deviceWidth > 750) deviceWidth = 750;
        document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
    })();
    </script>
    <script data-main="/js/config.js" src="/js/require.js"></script>
</body>

</html>
