.index-weui-page {
    overflow-x: hidden;
    width: 100%;
    .weui-tab .weui-tab__bd .weui-pull-to-refresh {
        margin-top: -100px;
    }
    /*jqueryWeui*/
    .weui-tab__bd .weui-tab__bd-item {
        width: 100%;
    }
    //test
    #tab3 {
        margin-top: -50px;
    }
    #tab4{
        .content-padded{
            padding-bottom: 50px;
        }
        margin-top: -50px;
    }
    // red member center
    .red-member-center {
        // background: $background;
        min-height: 100%
    }

    .content-padded.contact-user {
            overflow: auto;
            .title-top {
                font-size: .35rem;
                height: 2rem;
                line-height: 2rem;
            }
            .contact {
                font-size: .3rem;
                background: #fff;
                padding: .1rem .24rem;
            }
        }
}
