/* */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
img{max-width:100%;}

.base-index, .base-two, .base-three, .base-four, .base-five, .base-six, .base-seven{
   position:absolute;
   width:100%;
   height:100%;
   background-size: 100% 100%;
   /*background-color: yellow;*/
   text-align: center;
}
.base-index, .base-three, .base-four, .base-six, .base-seven{
   background-image: url("../images/m.png");
}
.base-two{
   background-image: url("../images/n.png");
}
.base-five{
   background-image: url("../images/o.png");
}

.index-mouse, .index-computer, .two-mouse, .three-mouse{
   position:absolute;
}
.index-mouse, .two-mouse, .three-mouse{
   bottom: 0px;
}
.index-title div span , .two-center div span{
   font-family: Arial,"微软雅黑";
}

.index-logo, .two-logo, .five-logo{
   position:absolute;
   /*height:200px;*/
   width:100%;

   /*background-color: #fff;*/
}
.logo-img, .two-img, .five-img{
   height:150px;
   width:150px;
   margin:0 auto;
   /*background-color: red;*/
}
.logo-img .wrap, .two-img.wrap, .five-img.wrap{
   height:150px;
   width:150px;
   border-radius: 75px;
   display:table-cell;
   text-align: center;
   vertical-align: middle;
   background-color: #fff;
   overflow: hidden;
}
.logo-img .wrap .img, .two-img.wrap.img, .five-img.wrap.img{
   width:100%;
   max-height:150px;
   display:inline-block;
}
.parting-line{
   width:100%;
   height:1px;
   border-bottom: 1px dashed #000;
}
.div-border{
   border: 1px dashed #000;
}
/*
*
*     index css     
*/
.index-title{
   margin:0 auto;
   margin-top:15px;
   width:250px;
   height:85px;
   background-color: #fff;
}
.index-title div{
   /*position:absolute;*/
}
.index-title div span, .index-title div img{
   display:block;
   text-align: center;
}
.index-title div span{
   padding-top: 10px;
   font-size: 25px;
   color:#000;
}
.index-title div img{
   width:170px;
   padding-top: 10px;
   padding-left: 42px;
}
.index-middle{
   padding-top:30px;
}
.index-logo{
   bottom:35px;
}

/*
*
*  two css
*/
.two-top, .five-top{
   /*position:fixed;*/
   margin-top:-60px;
}
.two-center{
   height:165px;
   text-align: center;
}
.two-center div{
   display:inline-block;
   height:165px;
   width:80%;
   background-color: #fff;
   overflow-y:scroll;
}
.two-center div::-webkit-scrollbar{
   width:0px
}
.two-center div span{
   padding:25px;
   font-size: 18px;
   float: left;
   text-align: left;
   letter-spacing: 2px;
   line-height: 30px;
}
.two-bottom{
   margin-top:30px;
}
.two-bottom div{
   margin:25px 10px;   
}
.two-bottom div span{
   /*display:block;
   min-width: 25%;*/
   font-size: 20px;
   background-color: yellow;
   padding:10px;
}
.two-logo, .five-logo{
   top:55px;
}
.two-img, .five-img{
   height:120px;
   width:120px;
}
.two-img.wrap, .five-img.wrap{
   height:120px;
   width:120px;
   border-radius: 60px
}

/*
*   three.html    four.html
*/
.three-top, .four-top, .six-top, .seven-top{
   width:80%;
   margin-top:40px;
   background-color: #fff;
   display:inline-block;
}
.three-top>div, .four-top>div, .six-top>div, .seven-top>div{
   margin:15px auto;
}
.three-title, .six-title, .seven-title{
   width:100%;
   text-align: center;  
   font-size: 30px;      
}
.three-list, .four-list{
   padding:0px 10px;
   overflow:auto;
}
.three-list-l, .three-list-r, .four-list-l, .four-list-r{
   width:50%;
   font-size: 18px;
   float:left;
   margin:5px auto;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.three-list-r, .four-list-r{
   color:red;
}
.three-btn{
   padding:20px;
}
.three-btn span{
   padding:10px;
   border: solid 1px #d00;
   font-size: 25px;
   color:red;
}

.four-top{
   width:90%;
}
.four-title{
   padding: 0px;
   width:100%;
   text-align: center;
   height:70px;    
}
.four-logo, .font-details{
   float:left;
}
.four-logo{
   width:30%;
   /*height:50px;*/
   /*background-color: blue;*/
}
.four-logo div{
   height:70px;
   width:70px;
   /*background-color: red;*/
   margin:0px auto;
}
.four-logo>div>.img{
   height:70px;
   width:70px;
   border-radius: 35px;
   display:table-cell;
   text-align: center;
   vertical-align: middle;
   overflow: hidden;
   background-color: #fff;
}
.four-details{
   width:70%;
   font-size: 18px;
   float:left;
}
.four-details div{
   height:35px;
   float:left;
} 

.four-bottom span{
   padding:10px;
   font-size: 18px; 
   color:red;
}

/*
*   five.html
*/
.five-poster{
   font-size: 35px;
   margin-top:120px;
}
.five-site{
   width:100%;
   text-align: center;
   line-height: 25px;
   margin-top: 50px;
}
.five-btn, .seven-btn{
   margin-top: 40px;
   display:inline-block;
}
.five-btn button, .seven-btn button{
   background-color: transparent;
   font-size: 25px;
   border:solid 1px #d00;
   width:150px;
}

/*
*  six.html
*/
/*.base-six{
   padding: 0px 10px;
}*/
.six-top, .seven-top{
   background-color: transparent;
   width:90%;
   margin-top: auto;
}
.six-name, .six-welfare{
   text-align: left;
}
.six-name, .six-welfare, .seven-duty, .seven-require{
   margin-top: 15px;
   padding:0px 20px;
   display:inline-block;
}
.six-name-title, .six-welfare-title{
   font-size: 30px;
}
.six-name-require, .six-welfare-message{
   margin-top: 15px;
   font-size: 20px;

}
.six-name-require{
   color:red;
}
.six-welfare-message{
   color:#fff;
}
.six-name-require span, .six-welfare-message span{
   float:left;
   display:inline-block;
   padding:5px;
   margin:5px;
}
.six-name-require span{
   border:solid 1px #d00;
}
.six-welfare{
   margin-bottom: 20px;
}
.six-welfare-message{
   margin-bottom: 20px;
}
.six-welfare-message span{
   background-color: rgb(243,145,5);
}

/*
*  seven.html
*/
.seven-duty, .seven-require{
   float:left;
   display:inline-block;
}

.seven-duty-title, .seven-require-title{
   font-size: 20px; 
   color:red;
   float:left;
}
.seven-duty-content, .seven-require-content{
   padding:0px 20px; 
   float:left;
}
.seven-duty-content ul, .seven-require-content ul{
   list-style-type:decimal;
   text-align: left;
   padding-left:10px;
   line-height: 25px;
}
.seven-duty-content ul li, .seven-require-content ul li{
   float:left;
   width:100%;
}
.seven-btn{
   margin-bottom: 40px;
}
.seven-top{
   margin-top:auto;
}